JWT_SECRET=change_this_for_a_long_random_secret
DATABASE_URL=postgresql://postgres:password@localhost:5432/tinder_db
USERS_DATABASE_URL=postgresql://postgres:password@localhost:5432/tinder_users_db
AUTH_DATABASE_URL=postgresql://postgres:password@localhost:5432/tinder_auth_db
PORT=3000
