JWT_SECRET=change_this_for_a_long_random_secret
DATABASE_URL=postgresql://postgres:password@localhost:5432/tinder_db
USERS_DATABASE_URL=postgresql://postgres:password@localhost:5432/tinder_users_db
AUTH_DATABASE_URL=postgresql://postgres:password@localhost:5432/tinder_auth_db
GATEWAY_PORT=3000
AUTH_SERVICE_HOST=127.0.0.1
AUTH_SERVICE_PORT=4001
USERS_SERVICE_HOST=127.0.0.1
USERS_SERVICE_PORT=4002
